<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inp</string>
				<string>INP</string>
				<string>irc</string>
				<string>IRC</string>
				<string>trj</string>
				<string>TRJ</string>
				<string>LOG</string>
				<string>DAT</string>
				<string>MOL</string>
				<string>log</string>
				<string>dat</string>
				<string>mol</string>
				<string>cml</string>
				<string>CML</string>
				<string>mkl</string>
				<string>MKL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>text-doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Plain Text Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mol</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>text-doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>MDL mol file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mMol</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>text-doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Untyped file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pref</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>prefs.icns</string>
			<key>CFBundleTypeName</key>
			<string>MacMolPlt Application Preferences</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Pref</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>MacMolPlt.icns</string>
	<key>CFBundleIdentifier</key>
	<string>gov.ameslab.wxMacMolplt</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>v 7.4.1</string>
	<key>CFBundleName</key>
	<string>wxMacMolPlt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.4.1</string>
	<key>CFBundleSignature</key>
	<string>BMBm</string>
	<key>CFBundleVersion</key>
	<string>7.4.1</string>
	<key>LSPrefersCarbon</key>
	<string></string>
</dict>
</plist>
