Source: wxmacmolplt
Section: science
Priority: optional
Maintainer: Brett Bode <brett@scl.ameslab.gov>
Build-Depends: debhelper (>= 5), autotools-dev, libwxgtk2.8-dev (>= 2.8.3), wx2.8-headers (>= 2.8.3), libming-dev, libpng12-dev, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libglew1.5-dev (>= 1.5.0)
Standards-Version: 3.7.2

Package: wxmacmolplt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The MacMolPlt molecular visualization program
 MacMolPlt is designed to display the input and output of
 the GAMESS quantum chemistry package. It produces animations
 and/or publication quality output from a variety of input file
 formats.

